@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bonjour Alexandre !</h1>
    <p>Vous vous trouvez actuellement sur la page d'accueil. 
    <br/>Essayez de votre les autres onglets !</p>
</div>
